<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zadania domowe Tydzień 05</title>
</head>
<body>
<h2>
    Zadania domowe
</h2>
<table border="1px" style="background: lightgrey">
    <tr>
        <th>Tydzień 5</th>
    </tr>
    <tr>
        <td>
            <a th:href="@{/holiday}">Zadanie 1 - lista świąt</a>
        </td>
    </tr>
    <tr>
        <td>
            <a th:href="@{/weather}">Zadanie 2 - pogodynka</a>
        </td>
    </tr>
</table>

</body>
</html>